<h1>WELCOME TO THE EasyApply HOMEPAGE</h1><!-- Home page from where the user can navigate to crete account form and other parts of the app as may be required-->
<br><%= link_to 'Index', {:action => 'list'} %>
<br><%= link_to 'Create Account', {:action => 'new'} %>