<h3>CONGRATULATIONS, ACCOUNT CREATED!</h3><!-- message displayed if save user is saved into db-->
<%= link_to 'Create Another Account', {:action => 'new'}%>| <!-- hyperlinks to list, new and home-->
<%= link_to 'Index', {:action => 'list'} %>
|<%= link_to "Home Page", {:action => 'home' }%>